:root{
    --primary-color:rgb(255, 255, 255);
    --secundry-color:rgb(202, 185, 228);
    --text-color-1:rgb(91, 22, 110);
    --text-color-2:rgb(74, 56, 77);
}




*{
    box-sizing:border-box;
}
html{
    font-size:62.5%;
    scroll-behavior: smooth;
}

/* nav bar csssss */
header{
    background-color: var(--primary-color);
    width:100%;
    height:10vh;
    display:flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;

}
#header-img{
    width:44px;
    height:44px;
    margin-left: 3vw;
}
#brand-name{
    height:33px;
    width:fit-content;
    font-size: 3.6rem;
    margin-left: -25vw;
    place-self: center;

}
#nav-bar{
    width:35%;
    margin-right: 7vw;
}
#nav-bar ul{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 2vw;
    border-radius: 25%;
}
#nav-bar ul li{
    list-style: none;
    align-items: center;
    border-radius: 25%;
}
#nav-bar ul #li3{
    margin-right: -25px;
    
    
}
#nav-bar ul #li3 a{
    background-color: rgba(255, 224, 45, 0.929);
}
#nav-bar ul #li3 a:hover{
    color: rgba(255, 224, 45, 0.929);
    background-color: var(--text-color-2);

}
#nav-bar ul li a{
    font-size: 2.6rem;
    text-decoration: none;
    color: var(--text-color-2);
    padding: 3px 8px;
    background-color: var(--secundry-color);
    border-radius: 25%;
    
}
#nav-bar ul li a:hover{
    color:var(--secundry-color);
    background-color: var(--text-color-2);
}

/* main page cssss */

section{
    height:100vh;
    width:100vw;
}
#home{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1vh;
}
#home-p-1{
    font-size: 6.6rem;

}
#home-p-2{
    font-size: 3rem;
    margin-top: -5vh;

}
form{
    display: flex;
    gap: 10px;

}
form input{
    border: none;
    border-radius: 20px;
    
}
form #email{
    padding-left:10px ;
    height:20px;
    width:350px;
    border: 0.6px solid black;
    background-color: beige;
}
#submit{
    background-color: var(--secundry-color);
    border: none;
    border-radius: 20PX;
}
#submit:hover{
    background-color: gold;
}

/* work section cssssssssssss */
#work{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


.work-head{
    font-size:4rem;
    text-align: center;
    display: block;
    width:100%;
    margin: 0;

}
#work hr{
    color: rgb(0, 0, 0);
}
#work #video{
    width:380px;
    height:240px;
    margin-top: 6vh;
    border-radius: 25px;
    box-shadow: 0 0 5px 5px gray;
}
/* SUBSCRIBE SECTION CSSSSSSSSSS */
.product-plans{
    background-color:blueviolet;
}
.sec3{
    background-color: blueviolet;
    width:70vw;
    height:70vh;
    margin:0 auto;
    margin-top: 10rem;
    position:relative;
    top:10rem;
    border-radius: 20px;
    display:flex;
    justify-content: space-around;
    padding:30px;
}
.line{
    width:2px;
    height:60vh;
    background-color: black;
    
}
.c-1, .c-2, .c-3{
    width:33%;
    text-align: center;

}
.c-1 > h1{
    text-align: center;
    font-size:2rem;
    margin-left: -20px;
}
.c-2 > h1{
    text-align: center;
    font-size:2rem;
}
.c-3 > h1{
    text-align: center;
    font-size:2rem;
}
.c-1 > ul >li{
    text-align: left;
    font-size: 1.5rem;
    margin-top: 25px;
}
.c-2 > ul >li{
    text-align: left;
    font-size: 1.5rem;
    margin-top: 25px;
}
.c-3 > ul >li{
    text-align: left;
    font-size: 1.5rem;
    margin-top: 25px;
}